@import "tailwindcss";

body {
    color: #ffffff;
    font-family: "Jockey One";
    display: flex;
    justify-content: center;
    padding-inline: 6rem;
    /* border: 1px solid; */
}

input[id="search-pokemon"] {
    padding-inline: 15px;
    /* text-align: center; */
}


input:active,
input:focus {
    outline: none;
}

@keyframes type-hover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

.type-hover:hover {
    animation: type-hover alternate linear 500ms infinite;
}

.pokemon-type-item {
    transition: 300ms;
}

.pokemon-type-item:active {
    scale: 0.9;
}

.pokemon-card {
    transition-duration: 400ms;
    cursor: pointer;
}

/* .pokemon-card:hover {
    box-shadow: 0px 0px 20px 0px rgb(243, 91, 35);
} */

.pokemon-card:active {
    scale: 0.9
}

/* .pokemon-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 2.2rem;

} */