@import "tailwindcss";


@font-face {
    font-family: 'Pokemon Hollow';
    src: url('/src/assets/fonts/Pokemon\ Hollow.ttf');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('/src/assets/fonts/Pokemon\ Solid.ttf');
}


main {
    overflow-x: hidden;
    padding: 2rem;
}

@media (max-width: 680px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 990px) {
    .info-sections {
        flex-direction: column;
    }

    .basic-info-section {
        flex-direction: column-reverse;
    }

    .pokemon-description {
        font-size: 16px !important;
        text-align: center !important;
    }

    .pokemon-name-and-tags {
        justify-content: center !important;
        align-items: center !important;
    }

}

@media (max-width: 700px) {
    .cries {
        font-size: 10px !important;
    }

    .pokemon-name {
        font-size: 30px !important;
    }

}

@media (max-width: 1290px) {
    .cries {
        flex-direction: column;
    }
}

@media (max-width: 630px) {
    main {
        padding: 0;
    }

    .pokemon-description {
        padding: 8px;
    }

    .custom-table {
        width: 100%;
        border-radius: 0;
        border: 0;
    }

    .section-heading {
        width: 100%;
        border-radius: 0;
        background-color: transparent !important;
    }

    .pokemon-navigation {
        flex-direction: column;
        width: 100%;        
    }

}

.page-nav-item {
    padding-block: 6px;
}

@media (max-width: 1340px) {
    .page-nav {
        font-size: 13px;
        padding: 0;
    }
}

@media (max-width: 870px) {
    .page-nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .page-nav-item {
        width: max-content;
        padding: 6px 26px;
    }
}

.location-area-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.location-area-card {
    flex-grow: 1;
    overflow: hidden;
}